.archiveSection {
  display: table;
  table-layout: fixed;
  width: 100%;
  background-color:  rgb(59, 63, 71);;
  border-radius: 6px;
  padding: 25px;
}

.tableHeader {
  display: table-header-group;
}

.tableHeader > div {
  display: table-cell;
  text-align: center;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(193, 194, 195);
}