.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  min-width: 1400px;
  margin: 40px auto 40px auto;
}

.containerInner {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerInner > * {
  margin-bottom: 20px;
}

.containerInner > *:last-child {
  margin-bottom: 0;
}