.videoBadge {
  padding: 5px;
}

.videoBadge img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.videoBadge a {
  display: inline-block;
}

.durationOverlay {
  position: absolute;
  bottom: 8px;
  right: 6px;
  background-color: black;
  color: white;
  padding: 0 4px 0 4px;
  font-size: 12px;
}

.thumbnailContainer {
  position: relative;
  text-align: center;
  height: auto;
}

.publishTimeOverlay {
  position: absolute;
  bottom: 8px;
  left: 6px;
  background-color: black;
  color: white;
  padding: 0 4px 0 4px;
  font-size: 12px;
}

.videoBadge a:hover {
  background-color: rgb(216, 216, 216);
}