.videoBadge {
  padding: 8px;
}

.videoBadge img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  border-radius: 4px;
}

.normalPopularity {
  border: 5px solid silver;
}

.highPopularity {
  border: 5px solid gold;
}

.extremePopularity {
  border: double 5px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.videoBadge a {
  display: block;
}

.thumbnailContainer {
  position: relative;
  text-align: center;
  height: auto;
}

.thumbnailContainer:hover .statsOverlay {
  opacity: 0;
}

.thumbnailContainer:hover .titleOverlay {
  opacity: 1;
}

.statsOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.durationOverlay {
  position: absolute;
  bottom: 7px;
  right: 8px;
  background-color: black;
  color: white;
  padding: 0 4px 0 4px;
  font-size: 12px;
}

.publishTimeOverlay {
  position: absolute;
  bottom: 7px;
  left: 8px;
  background-color: black;
  color: white;
  padding: 0 4px 0 4px;
  font-size: 12px;
}

.titleOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
}

.titleOverlayInner {
  border-radius: 4px;
  width: 100%;
  max-height: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  padding: 10px 8px 20px 8px;
  display: flex;
}

.titleOverlayInnerText {
  color: rgb(193, 194, 195);
  text-align: center;
  font-size: 12px;
  overflow: hidden;
}