.videoBadge {
  padding: 5px;
}

.videoBadge img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}

.videoBadge a {
  display: block;
}

.durationOverlay {
  position: absolute;
  bottom: 3px;
  right: 6px;
  background-color: black;
  color: white;
  padding: 0 4px 0 4px;
  font-size: 12px;
}

.thumbnailContainer {
  position: relative;
  text-align: center;
  height: auto;
}

.publishTimeOverlay {
  position: absolute;
  bottom: 3px;
  left: 6px;
  background-color: black;
  color: white;
  padding: 0 4px 0 4px;
  font-size: 12px;
}

.titleOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0 auto 0 auto;
  display: none;
}

.titleOverlayInner {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  color: rgb(193, 194, 195);
  padding: 10px 5px 15px 5px;
  text-align: center;
  font-size: 14px;
}

.videoBadge a:hover {
  background-color: rgb(216, 216, 216);
}